@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,400;1,500&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  background: #0a0a0a;
}
#container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap:60px
}

.items {
  animation: moving 8s infinite linear;
}

@keyframes moving {
  0% {
    transform: translate(-900px, 0)
  }
  50% {
    transform: translate(-450px, 0)
  }
  100% {
    transform: translate(-50px, 0)
  }
}

.spiningSvg {
  margin: 20px;
  width: 90px;
  height: 90px;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 6000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 6000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 8000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#partners {
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.partner-items {
  animation: moving 14s infinite linear;
}

@keyframes moving {
  0% {
    transform: translate(-1400px, 0)
  }

  100% {
    transform: translate(1400px, 0)
  }
}